# This inventory describe a HA typology with stacked etcd (== same nodes as control plane)
# and 3 worker nodes
# See https://docs.ansible.com/ansible/latest/inventory_guide/intro_inventory.html
# for tips on building your # inventory

# Configure 'ip' variable to bind kubernetes services on a different ip than the default iface
# We should set etcd_member_name for etcd cluster. The node that are not etcd members do not need to set the value,
# or can set the empty string value.
kube_control_plane:
  hosts:
    master01:
      ansible_host: master01.kubernetes.homelab.veselabs.com
      ansible_user: debian
      etcd_member_name: etcd01
    master02:
      ansible_host: master02.kubernetes.homelab.veselabs.com
      ansible_user: debian
      etcd_member_name: etcd02
    master03:
      ansible_host: master03.kubernetes.homelab.veselabs.com
      ansible_user: debian
      etcd_member_name: etcd03

etcd:
  children:
    kube_control_plane:

kube_node:
  children:
    kube_control_plane:
  hosts:
    worker01:
      ansible_host: worker01.kubernetes.homelab.veselabs.com
      ansible_user: debian
    worker02:
      ansible_host: worker02.kubernetes.homelab.veselabs.com
      ansible_user: debian
