---
- name: Install Alloy
  hosts: pve
  gather_facts: true
  become: true

  roles:
    - role: prometheus.prometheus.smartctl_exporter
      vars:
        smartctl_exporter_system_group: root
        smartctl_exporter_smartctl_devices: "{{ smartctl_exporter_devices }}"

  tasks:
    - name: Install Alloy
      ansible.builtin.include_role:
        name: grafana.grafana.alloy
      vars:
        alloy_env_file_vars:
          CUSTOM_ARGS: "--disable-reporting"
        alloy_config: |
          otelcol.exporter.otlp "default" {
            client {
              endpoint = "telemetry.homelab.veselabs.com:443"
            }
          }

          otelcol.receiver.prometheus "default" {
            output {
              metrics = [otelcol.exporter.otlp.default.input]
            }
          }

          otelcol.receiver.loki "default" {
            output {
              logs = [otelcol.exporter.otlp.default.input]
            }
          }

          prometheus.exporter.unix "default" {
          }

          prometheus.scrape "unix" {
            targets    = prometheus.exporter.unix.default.targets
            forward_to = [prometheus.relabel.unix.receiver]
          }

          prometheus.relabel "unix" {
            forward_to = [otelcol.receiver.prometheus.default.receiver]

            rule {
              target_label = "job"
              replacement  = "bare_metal/unix"
            }
          }

          prometheus.scrape "smart" {
            targets    = [{"__address__" = "localhost:9633", "instance" = coalesce(sys.env("HOSTNAME"), constants.hostname)}]
            forward_to = [prometheus.relabel.smart.receiver]
          }

          prometheus.relabel "smart" {
            forward_to = [otelcol.receiver.prometheus.default.receiver]

            rule {
              target_label = "job"
              replacement  = "bare_metal/smart"
            }

            rule {
              source_labels = ["__name__"]
              regex         = "(^(go|process)_.+$)"
              action        = "drop"
            }
          }

          loki.relabel "journal" {
            forward_to = []

            rule {
              target_label = "job"
              replacement  = "bare_metal/journal"
            }

            rule {
              source_labels = ["__journal__hostname"]
              target_label  = "node"
            }

            rule {
              source_labels = ["__journal__systemd_unit"]
              target_label  = "unit"
            }

            rule {
              source_labels = ["__journal_priority"]
              target_label  = "priority"
            }
          }

          loki.source.journal "default" {
            relabel_rules = loki.relabel.journal.rules
            forward_to    = [otelcol.receiver.loki.default.receiver]
          }
