---
- name: Configure Tailscale
  hosts: pve
  gather_facts: true

  roles:
    - role: artis3n.tailscale.machine
      vars:
        state: latest
        tailscale_authkey: "{{ tailnet_key | quote }}"
        tailscale_args: >-
          --advertise-exit-node={{ tailscale_exit_node | quote }}
          --advertise-routes {{ tailscale_routes | quote }}
          --ssh={{ tailscale_ssh | quote }}

  tasks:
    # https://tailscale.com/kb/1019/subnets?tab=linux#enable-ip-forwarding
    - name: Enable IP forwarding
      block:
        - name: Enable IPv4 forwarding
          ansible.posix.sysctl:
            state: present
            name: net.ipv4.ip_forward
            value: "1"
            sysctl_file: /etc/sysctl.d/99-tailscale.conf

        - name: Enable IPv6 forwarding
          ansible.posix.sysctl:
            state: present
            name: net.ipv6.conf.all.forwarding
            value: "1"
            sysctl_file: /etc/sysctl.d/99-tailscale.conf

    # https://tailscale.com/kb/1320/performance-best-practices#linux-optimizations-for-subnet-routers-and-exit-nodes
    - name: Configure UDP GRO forwarding
      community.general.interfaces_file:
        state: present
        backup: true
        iface: "{{ interface }}"
        option: post-up
        value: ethtool -K {{ interface | quote }} rx-udp-gro-forwarding on rx-gro-list off

    - name: Configure PVE service
      block:
        - name: Create Tailscale config directory
          ansible.builtin.file:
            state: directory
            path: /etc/tailscale
            mode: "0755"

        - name: Copy PVE service config
          notify: Set PVE service config
          ansible.builtin.copy:
            content: |
              {
                "version": "0.0.1",
                "endpoints": {
                  "tcp:80": "tcp://localhost:8006",
                  "tcp:443": "tcp://localhost:8006"
                }
              }
            dest: /etc/tailscale/{{ tailscale_pve_service }}.json
            mode: "0644"

  handlers:
    - name: Set PVE service config
      changed_when: true
      ansible.builtin.command: >-
        tailscale serve set-config
          --service svc:pve
          /etc/tailscale/{{ tailscale_pve_service }}.json
